@import './intel-colors.scss';

.EventList {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'intel-clear';
  padding-bottom: 45px;

  button {
    border: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    min-width: 168px;
    line-height: 45px;
    border-radius: 3px;
    padding: 0 11px;
    background-color: $digital-blue;
    &:hover {
      background-color: $intel-blue;
    }
    &:disabled {
      color: $gray;
      background-color: $dark-gray;
    }
  }

  h2 {
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 68px;
    text-align: center;
    margin-top: 1em;
    font-family: 'intel-clear-headline';
    @media (max-width: 768px) {
      font-size: 48px;
      margin-top: 0.75em;
    }
  }

  .NoMatch {
    text-align: center;
    p {
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .loadMore {
    text-align: center;
    padding-top: 30px;
    button {
      background-color: white;
      border: 1px solid $digital-blue;
      color: $digital-blue;
      &:hover {
        background-color: $lightest-gray;
      }
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }
}
